body{
    ul li a{
list-style-type:none;
    }
}

.navbar {}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: 1% 12%;
}

.nav-link {
    font-size: 27px;

}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
    padding-left: 50px;
}

#Contact-btn {
    color: black;
    border: 2px solid black;
}

/* ................banner........... */
#banner {
    /* padding: 5px; */
    margin-bottom: 74px;
}

#BannerText h1 {
    font-size: 6rem;
}

#BannerText p {
    color: black;
}

#banner-btn {
    background-color: black;
    color: white;
    padding: 10px 50px;
}

#img {
    width: 548px;
    height: 366px;
    margin-top: 63px;
}

/* ................create-memory....... */
#create-memory {

    padding: 16px 0px;

}


#mid {
    padding: 15px 50px;
    width: 400px;

}

#mid h1 {
    font-size: 1.9rem;
}

#mid h1,
p {
    color: white;
}

#memory-btn {
    background-color: black;
    color: white;
    border: 2px solid white;
    padding: 10px 50px;
}




/* ...................pic-with-travel........  */
#travel-pic {
    padding: 70px 0px;
}

#travel-pic-1 {
    padding-left: 33px;
}

#travel-p {
    color: black;
}


/* <!-- .............question-area........ --> */
#question-area-left {
    padding-top: 33px;
}

#question-area-img {
    height: 298px;
    width: 284px;
}


/* .....................slider......... */
#slider-head {
    padding: 50px 10px;
}

#account-slide {
    padding: 20px 84px;
}

.card-text {
    color: black;

}

.card-img-top {
    border-radius: 50%;
    width: 295px;
    height: 295px;
    margin-top: 34px;
    margin-left: 53px;
}
@media  (max-width:1300) {
    
.card-img-top {
   
    margin-left: 23px;
}
}


@media  only screen and (max-width:1275) {
    
    .card-img-top {
       
        margin-left: 13px;
    }
    }
    

/* <!-- ...................form and img........... --> */
#exampleFormControlInput {

    border: 2px solid black;
    margin-top: 22px;
    color: black;



}

#exampleFormControlTextarea {
    border: 2px solid black;
    margin-top: 22px;
    color: black;


}

#Submit-btn {
    background-color: black;
    color: white;
    text-align: center;
    border: 2px solid white;
  padding: 10px 132px;
    /* margin-left: 70px; */
}

/* ...............footer........... */

#footer {
    padding: 100px 120px;
    margin-top: 173px;
    background-color: rgb(213, 213, 213);
}

#Quick-links-main{
    margin-top: -33px;
    

}
#Quick-links-main a{
    text-decoration: none;
  
}


.col-2 a {
    text-decoration: none;
  
    font-size: 17px;
}
#license-text{
    margin-top: 53px;
    color: rgb(106, 104, 104);
}